/* Forms
--------------------------------------------- */

input,
select,
textarea {
  width: 100%;
  padding: 1.6rem;

  color: #999;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 3px #eee inset;
  &:hover {
    border: 1px solid #999;
    outline: none;
  }
}

::-webkit-input-placeholder,
::-moz-placeholder {
  opacity: 1;
  color: #999;
}


button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  width: auto;
  padding: 16px 24px;
  padding: 1.6rem 2.4rem;

  cursor: pointer;
  text-transform: uppercase;

  color: #fff;
  border: none;
  background-color: #333;
  box-shadow: none;
  &:hover {
    background-color: #f15123;
  }
}
