/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-scheme-1-name: 'sprite-scheme-1';
$sprite-scheme-1-x: 0px;
$sprite-scheme-1-y: 0px;
$sprite-scheme-1-offset-x: 0px;
$sprite-scheme-1-offset-y: 0px;
$sprite-scheme-1-width: 128px;
$sprite-scheme-1-height: 128px;
$sprite-scheme-1-total-width: 384px;
$sprite-scheme-1-total-height: 320px;
$sprite-scheme-1-image: '../img/sprite.png';
$sprite-scheme-1: (0px, 0px, 0px, 0px, 128px, 128px, 384px, 320px, '../img/sprite.png', 'sprite-scheme-1', );
$sprite-scheme-2-name: 'sprite-scheme-2';
$sprite-scheme-2-x: 256px;
$sprite-scheme-2-y: 128px;
$sprite-scheme-2-offset-x: -256px;
$sprite-scheme-2-offset-y: -128px;
$sprite-scheme-2-width: 128px;
$sprite-scheme-2-height: 128px;
$sprite-scheme-2-total-width: 384px;
$sprite-scheme-2-total-height: 320px;
$sprite-scheme-2-image: '../img/sprite.png';
$sprite-scheme-2: (256px, 128px, -256px, -128px, 128px, 128px, 384px, 320px, '../img/sprite.png', 'sprite-scheme-2', );
$sprite-scheme-3-name: 'sprite-scheme-3';
$sprite-scheme-3-x: 128px;
$sprite-scheme-3-y: 0px;
$sprite-scheme-3-offset-x: -128px;
$sprite-scheme-3-offset-y: 0px;
$sprite-scheme-3-width: 128px;
$sprite-scheme-3-height: 128px;
$sprite-scheme-3-total-width: 384px;
$sprite-scheme-3-total-height: 320px;
$sprite-scheme-3-image: '../img/sprite.png';
$sprite-scheme-3: (128px, 0px, -128px, 0px, 128px, 128px, 384px, 320px, '../img/sprite.png', 'sprite-scheme-3', );
$sprite-scheme-4-name: 'sprite-scheme-4';
$sprite-scheme-4-x: 0px;
$sprite-scheme-4-y: 128px;
$sprite-scheme-4-offset-x: 0px;
$sprite-scheme-4-offset-y: -128px;
$sprite-scheme-4-width: 128px;
$sprite-scheme-4-height: 128px;
$sprite-scheme-4-total-width: 384px;
$sprite-scheme-4-total-height: 320px;
$sprite-scheme-4-image: '../img/sprite.png';
$sprite-scheme-4: (0px, 128px, 0px, -128px, 128px, 128px, 384px, 320px, '../img/sprite.png', 'sprite-scheme-4', );
$sprite-scheme-5-name: 'sprite-scheme-5';
$sprite-scheme-5-x: 128px;
$sprite-scheme-5-y: 128px;
$sprite-scheme-5-offset-x: -128px;
$sprite-scheme-5-offset-y: -128px;
$sprite-scheme-5-width: 128px;
$sprite-scheme-5-height: 128px;
$sprite-scheme-5-total-width: 384px;
$sprite-scheme-5-total-height: 320px;
$sprite-scheme-5-image: '../img/sprite.png';
$sprite-scheme-5: (128px, 128px, -128px, -128px, 128px, 128px, 384px, 320px, '../img/sprite.png', 'sprite-scheme-5', );
$sprite-scheme-6-name: 'sprite-scheme-6';
$sprite-scheme-6-x: 256px;
$sprite-scheme-6-y: 0px;
$sprite-scheme-6-offset-x: -256px;
$sprite-scheme-6-offset-y: 0px;
$sprite-scheme-6-width: 128px;
$sprite-scheme-6-height: 128px;
$sprite-scheme-6-total-width: 384px;
$sprite-scheme-6-total-height: 320px;
$sprite-scheme-6-image: '../img/sprite.png';
$sprite-scheme-6: (256px, 0px, -256px, 0px, 128px, 128px, 384px, 320px, '../img/sprite.png', 'sprite-scheme-6', );
$sprite-why-me-1-name: 'sprite-why-me-1';
$sprite-why-me-1-x: 320px;
$sprite-why-me-1-y: 256px;
$sprite-why-me-1-offset-x: -320px;
$sprite-why-me-1-offset-y: -256px;
$sprite-why-me-1-width: 64px;
$sprite-why-me-1-height: 64px;
$sprite-why-me-1-total-width: 384px;
$sprite-why-me-1-total-height: 320px;
$sprite-why-me-1-image: '../img/sprite.png';
$sprite-why-me-1: (320px, 256px, -320px, -256px, 64px, 64px, 384px, 320px, '../img/sprite.png', 'sprite-why-me-1', );
$sprite-why-me-2-name: 'sprite-why-me-2';
$sprite-why-me-2-x: 64px;
$sprite-why-me-2-y: 256px;
$sprite-why-me-2-offset-x: -64px;
$sprite-why-me-2-offset-y: -256px;
$sprite-why-me-2-width: 64px;
$sprite-why-me-2-height: 64px;
$sprite-why-me-2-total-width: 384px;
$sprite-why-me-2-total-height: 320px;
$sprite-why-me-2-image: '../img/sprite.png';
$sprite-why-me-2: (64px, 256px, -64px, -256px, 64px, 64px, 384px, 320px, '../img/sprite.png', 'sprite-why-me-2', );
$sprite-why-me-3-name: 'sprite-why-me-3';
$sprite-why-me-3-x: 128px;
$sprite-why-me-3-y: 256px;
$sprite-why-me-3-offset-x: -128px;
$sprite-why-me-3-offset-y: -256px;
$sprite-why-me-3-width: 64px;
$sprite-why-me-3-height: 64px;
$sprite-why-me-3-total-width: 384px;
$sprite-why-me-3-total-height: 320px;
$sprite-why-me-3-image: '../img/sprite.png';
$sprite-why-me-3: (128px, 256px, -128px, -256px, 64px, 64px, 384px, 320px, '../img/sprite.png', 'sprite-why-me-3', );
$sprite-why-me-4-name: 'sprite-why-me-4';
$sprite-why-me-4-x: 192px;
$sprite-why-me-4-y: 256px;
$sprite-why-me-4-offset-x: -192px;
$sprite-why-me-4-offset-y: -256px;
$sprite-why-me-4-width: 64px;
$sprite-why-me-4-height: 64px;
$sprite-why-me-4-total-width: 384px;
$sprite-why-me-4-total-height: 320px;
$sprite-why-me-4-image: '../img/sprite.png';
$sprite-why-me-4: (192px, 256px, -192px, -256px, 64px, 64px, 384px, 320px, '../img/sprite.png', 'sprite-why-me-4', );
$sprite-why-me-5-name: 'sprite-why-me-5';
$sprite-why-me-5-x: 256px;
$sprite-why-me-5-y: 256px;
$sprite-why-me-5-offset-x: -256px;
$sprite-why-me-5-offset-y: -256px;
$sprite-why-me-5-width: 64px;
$sprite-why-me-5-height: 64px;
$sprite-why-me-5-total-width: 384px;
$sprite-why-me-5-total-height: 320px;
$sprite-why-me-5-image: '../img/sprite.png';
$sprite-why-me-5: (256px, 256px, -256px, -256px, 64px, 64px, 384px, 320px, '../img/sprite.png', 'sprite-why-me-5', );
$sprite-why-me-6-name: 'sprite-why-me-6';
$sprite-why-me-6-x: 0px;
$sprite-why-me-6-y: 256px;
$sprite-why-me-6-offset-x: 0px;
$sprite-why-me-6-offset-y: -256px;
$sprite-why-me-6-width: 64px;
$sprite-why-me-6-height: 64px;
$sprite-why-me-6-total-width: 384px;
$sprite-why-me-6-total-height: 320px;
$sprite-why-me-6-image: '../img/sprite.png';
$sprite-why-me-6: (0px, 256px, 0px, -256px, 64px, 64px, 384px, 320px, '../img/sprite.png', 'sprite-why-me-6', );
$spritesheet-width: 384px;
$spritesheet-height: 320px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-scheme-1, $sprite-scheme-2, $sprite-scheme-3, $sprite-scheme-4, $sprite-scheme-5, $sprite-scheme-6, $sprite-why-me-1, $sprite-why-me-2, $sprite-why-me-3, $sprite-why-me-4, $sprite-why-me-5, $sprite-why-me-6, );
$spritesheet: (384px, 320px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
