@import '_reset.scss';
@import '_forms.scss';
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import '_sprite.scss';
@import '_mixin.scss';
$width: 980px;
$footer: 100px;
$footer_margin: $footer - 2 * $footer;
$color: #444;
$color_a: #000;
$trs: all .5s;
$tshd: 2px 2px 2px #000;
$tshdw: 2px 2px 2px #fff;
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.8;

  color: $color;
}
a {
  transition: $trs;

  color: $color_a;
  &:hover {
    color: lighten($color_a, 10%);
  }
  &:active {
    color: lighten($color_a, 20%);
  }
}
.btn {
  font-size: 80%;

  display: block;

  margin: 0 auto;
  padding: 1.5em 0;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: #333;
  &:hover {
    background-color: #f15123;
  }
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  height: 50px;

  background-color: blue;
  .logo {
    display: block;

    width: 100px;
    img {
      max-width: 100%;
    }
  }
  nav {
    position: absolute;
    top: 10px;
    right: 10px;
    ul {
      display: block;
      li {
        display: inline-block;
      }
    }
  }
}


section {
  width: 100%;
  padding: 0 0 $footer;
}
article {
  padding: 2em 0;
  h3 {
    font-size: 2em;

    margin: 0 auto 1em;

    text-align: center;

    color: #fff;
    text-shadow: $tshd;
  }
}
.services {
  ul {
    margin: 0 auto 1em;
    padding: 0;

    text-align: center;
    li {
      position: relative;

      display: inline-block;

      width: 48%;
      padding: 0 0 0 1.5em;

      text-align: left;

      color: #fff;
      &:before {
        position: absolute;
        top: 5px;
        left: 0;

        display: block;

        content: '';

        color: orange;

        @extend .fa;
      }
    }
  }
  h1 {
    font-size: 2em;

    text-align: center;

    color: #fff;
    text-shadow: $tshd;
  }
}
.prices {
  .column-left,
  .column-right {
    display: inline-block;
    float: left;

    @extend .clearfix;
  }
  .column-left {
    width: 70%;
    h2 {
      font-size: 1.5em;

      margin-bottom: 1em;

      text-align: center;

      text-shadow: $tshdw;
    }
    table {
      position: relative;

      float: left;

      width: 80%;
      margin: 0;
      &:after {
        font-size: 2em;
        line-height: 2.8em;

        position: absolute;
        top: 0;
        right: -1em;

        display: block;

        width: 1px;
        height: 100%;

        content: '    ';

        color: orange;

        @extend .fa;
      }
      td {
        font-size: 1.4em;

        width: 20%;
        padding: 1em 0;

        text-align: center;
        vertical-align: middle;

        color: #000;
        border: 2px solid transparent;
        border-bottom: 2px solid #000;
        i {
          font-size: .8em;

          @extend .fa;
        }
        &:first-child {
          font-size: 1em;
          font-weight: bold;

          width: 60%;

          text-align: left;

          text-shadow: $tshdw;
        }
        &:nth-child(2) {
          font-size: 1em;

          text-decoration: line-through;

          color: lighten(#000, 20%);
        }
        &:last-child {
          font-weight: bold;

          color: red;
        }
      }
      tr {
        &:first-child {
          th {
            font-size: .8em;
            line-height: 1;

            vertical-align: middle;
          }
        }
        &:last-child {
          td {
            border-bottom-color: transparent;
          }
        }
      }
    }
  }
  .column-right {
    width: 30%;
    padding: 6em 0 0;
    h4 {
      font-weight: bold;

      margin-bottom: 1em;

      text-align: center;

      color: red;
    }
    form {
      input,
      textarea {
        font-size: 100%;
        font-weight: normal;

        margin: 0 auto .5em;
        padding: .3em;
      }
      button {
        font-size: 80%;

        display: block;

        width: 100%;
        padding: 1.5em 0;

        text-align: center;
        text-transform: uppercase;

        border-radius: 4px;
      }
    }
  }
}

.why-me {
  ul {
    display: block;

    text-align: center;

    @extend .clearfix;
    li {
      font-size: .9em;

      position: relative;

      display: inline-block;
      float: left;

      width: 50%;
      height: 130px;
      margin: 0 0 1.5em;
      padding: 0 0 0 6em;

      text-align: left;

      color: #fff;
      background-repeat: no-repeat;
      h4 {
        font-size: 1.5em;
        font-weight: normal;

        text-align: center;
      }
      &:before {
        position: absolute;
        top: 5px;
        left: 0;

        display: block;

        content: '';
      }
      &:nth-child(1) {
        &:before {
          @include sprite($sprite-why-me-1);
        }
      }
      &:nth-child(2) {
        &:before {
          @include sprite($sprite-why-me-2);
        }
      }
      &:nth-child(3) {
        &:before {
          @include sprite($sprite-why-me-3);
        }
      }
      &:nth-child(4) {
        &:before {
          @include sprite($sprite-why-me-4);
        }
      }
      &:nth-child(5) {
        &:before {
          @include sprite($sprite-why-me-5);
        }
      }
      &:nth-child(6) {
        &:before {
          @include sprite($sprite-why-me-6);
        }
      }
    }
  }
}
.pholio {
  ul {
    display: block;

    width: 80%;
    margin: 0 auto;

    @extend .clearfix;
    li {
      display: inline-block;
      float: left;

      width: 50%;
      padding: 1.5em;

      text-align: center;
      h5,
      h6,
      a {
        display: block;

        width: 100%;

        text-align: center;

        color: #fff;
      }
      h6 {
        font-size: .8em;

        margin: 0 auto .8em;

        @extend .clearfix;
        span {
          float: left;
          overflow: hidden;

          width: 100%;
          height: 25px;
        }
        a {
          display: inline-block;
          float: left;

          width: 50%;
        }
      }
      .screen {
        overflow: hidden;

        width: 240px;
        height: 245px;
        margin: 0 auto;

        transition: all .7s;

        border: 5px solid #fff;
        border-radius: 50%;
        img {
          width: 250px;
          height: 250px;

          border-radius: 50%;
        }
        &:hover {
          border-color: orange;
        }
      }
    }
  }
  .view-all-pholio {
    width: 300px;

    color: #fff;

    @extend .btn;
  }
}
.reviews {
  h3 {
    color: #000;
  }
  ul {
    display: block;
    overflow: hidden;

    width: 80%;
    height: 350px;
    margin: 0 auto;

    @extend .clearfix;
    li {
      display: inline-block;
      float: left;

      width: 100%;
      height: 48%;
      margin-bottom: 1.9%;
      padding: 1em;

      color: #fff;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;

      @extend .clearfix;
      img {
        display: block;
        overflow: hidden;

        width: 100px;
        height: 100px;

        border-radius: 50%;
      }
      h5,
      p {
        display: block;

        width: 650px;
      }
      h5 {
        font-size: 1.3em;
      }
      p {
        font-size: .95em;
      }
      &:nth-child(2n+1) {
        background-image: url(../img/bg/reviews-1.jpg);
        img {
          float: left;
        }
        h5,
        p {
          float: right;

          text-align: right;
        }
      }
      &:nth-child(2n) {
        background-image: url(../img/bg/reviews-2.jpg);
        img {
          float: right;
        }
        h5,
        p {
          float: left;

          text-align: left;
        }
      }
      &:nth-child(3) {
        background-image: url(../img/bg/reviews-3.jpg);
      }
      &:nth-child(4) {
        background-image: url(../img/bg/reviews-4.jpg);
      }
    }
  }
}
.calculator {
  h3 {
    color: orange;
    text-shadow: 2px 2px 2px #000;
  }
  form {
    width: 90%;

    @extend .clearfix;
    input {
      float: left;

      width: 50%;
      height: 80px;
      &[name=email] {
        margin-bottom: 1em;
      }
    }
    textarea {
      font-size: 140%;

      float: right;

      width: 50%;
      height: 160px;
      margin-bottom: 1em;
    }
    button {
      float: left;

      width: 100%;
      i {
        margin-right: 1em;
      }
    }
  }
}
.scheme {
  ul {
    display: block;

    @extend .clearfix;
    li {
      display: inline-block;
      float: left;

      width: 33.33%;
    }
  }
}

footer {
  position: relative;

  width: 100%;
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: #f16529;
  .mainfooter {
    width: $width;
    height: 100%;
    margin: 0 auto;

    background-color: #b3d4fc;
  }
}

@import '_print.scss';
